{% extends "base.html" %}

<!-- Here, a navbar is added to the page  -->

{% block nav %}
    <nav class="navbar navbar-expand-sm bg-body-tertiary border-bottom shadow-sm" data-bs-theme="light">

        <div class="container-xl">
            <a class="navbar-brand" href="{{ url_for(session["user"] + ".overview") if session["user"] else "/" }}">
                <i class="bi bi-file-earmark-medical-fill fs-4 me-2"></i>
                <span>CareBase</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center gap-1" href="#" role="button"
                           data-bs-toggle="dropdown">
                            <i class="bi bi-person-circle fs-5"></i><span>Benutzer</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                            <li><a class="dropdown-item d-flex align-items-center gap-2" href="/login/admin">
                                <i class="bi bi-shield-lock"></i>
                                <span>Admin</span>
                            </a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center gap-2" href="/login/doctor">
                                <i class="bi bi-heart-pulse"></i>
                                <span>Arzt</span>
                            </a>
                            </li>
                            <li><a class="dropdown-item d-flex align-items-center gap-2" href="/login/clerk"><i
                                    class="bi bi-clipboard-check"></i>
                                <span>Sachbearbeiter</span>
                            </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger d-flex align-items-center gap-2" href="/logout">
                                <i class="bi bi-box-arrow-right"></i><span>Abmelden</span>
                            </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}